<html>
    <head></head>
    <body>
        <style>
            h2{
                color:red;
            }
            .highlight{
                border:solid;

            }
            #profile{
                border:solid;
                border-clor:blue;
            }
        </style>
        <div>
            <img src="https://buly.kr/9BUB35j">
            <input type="search" value="검색"/>
        </div>
        <div id="profile"
        <div id="pro">
        <img src="Image/profile.jpg" width="50px">
            <div>
                <h2>half_bottle</h2>
                <button>프로필 편집</button>
            </div>
        </div>
        <div>
        <p>
        <strong>
            김수환(Kaneshiro3)
        </strong><br/>
            니트
            </p>
        </div>
        <div>
            <p>
                    <a haref="https://github.com/Kaneshiro3">https://github.com/Kaneshiro3
                    </a>
        </p>
        <p>
    </div>
    <div>
        <div>
            <div>
                <div class="highlight">
                <img src="image/h1.jpg" width="50" height="35px"/>
                <div>
                <div>
                    🤔
                </div>
               
                <div class="highlight">
                <div>
            <div>
                <img src="image/h2.jpg" width="50" height="35px"/>
                
    
            </div>
            <div>
                    😊
            </div>
        </div>
        <div>
        </div>
        <p>
            게시물<br/>
            팔로워<br/>
            팔로우<br/>
            10<br/>
            123<br/>
            188
        </p>
    <div>
    <div>아이콘이 들어갈 자리</div>
    <div>
        <img src="image/thumbnails/1.jpg" width="32%"/>
        <img src="image/thumbnails/2.jpg" width="32%"/>
        <img src="image/thumbnails/3.jpg" width="32%"/>
        <img src="image/thumbnails/4.jpg" width="32%"/>
        <img src="image/thumbnails/5.jpg" width="32%"/>
        <img src="image/thumbnails/6.jpg" width="32%"/>
        <img src="image/thumbnails/7.jpg" width="32%"/>
        <img src="image/thumbnails/8.jpg" width="32%"/>
        <img src="image/thumbnails/9.jpg" width="32%"/>
    
      </div>
    </body>
</html>